{% include "partials/header.html" %}

{% block content %}
    <main>
        <div class="produtos">
            {% for produto in produtos %}
        
            <div class="produto">
                <img src="{{produto.imagem.url}}" alt="" width="200">
                <div class="descricao">{{ produto.descricao}}</div>
                <div class="preco">{{ produto.preco}} </div>
                <a href="" class="botao">Comprar</a>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content%}

{% include "partials/footer.html" %}